$primary-color: #191919; // main color
$action-color: #43cbac; // call to action
$text-primary-color: #94a3b8; // main text color
$text-secondary-color: #ffffff; // sort of .5% used

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $primary-color;
  color: $text-primary-color;
}

abbr {
  text-decoration: none !important;
  text-transform: none !important;
}
